/* Style the header */

.bg {
  background-image: url("C:/Users/LAPTOP-32/Desktop/tourbuddy 3/TourBuddy/src/images/statesbg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.states {
  font-size: larger;
  font-style: normal;
}

.in {
  font-size: larger;
}

.india {
  font-size: larger;
}

/* Card overlay styles */
.card:hover .card-img-overlay {
  transform: translateY(60%);
}

.card-img-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  color: white;
  background-color: black;
  transition: transform 0.3s ease;
  transform: translateY(100%);
}

.container {
  margin-top: 10px;
  font-family: arabic;
  margin: 0;
  padding: 0;
  height: -100px;
}



/* Style the card */
.card {
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  border-radius: 50px; /* Adjust this value to change the border radius */
  }

/* Style the card image */
.card-img-top {
  width: 300px;
  height: 200px;
  border-radius: 10px; /* Adjust this value to change the border radius */
}

/* Style the card body */
.card-body {
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 10px; /* Adjust this value to change the border radius */
}

/* Style the card title */
.card-title {
  color: #fff;
  font-size: 18px;
  margin-bottom: 5px;
  border-radius: 10px; /* Adjust this value to change the border radius */
}

/* Style the card text */
.card-text {
  color: #fff;
  font-size: 12px;
  border-radius: 10px; /* Adjust this value to change the border radius */
}

.card:hover {
  transform: scale(1.1);
  z-index: 2;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.txt {
  text-align: center;
  margin-top: 100px;
  font-size: larger;
}

.heading {
  color:palevioletred  ;
}

.data-not-found {
  color: greenyellow;
}


.error-image {
  width: 200px;
  height: 200px;
  /* Add any other desired CSS styles for the image */
}

